<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/static/style/nav.css">
    <link rel="stylesheet" href="/static/style/style.css">

    <title>Business</title>
</head>

<body>
    
    <!-- Navbar -->
    <header></header>
    
    <p class="text-center mt-10 mb-70 p-10 text-4xl text-gray-800">We are working on the business page.</p>
    
    <!-- Footer -->
    {% include 'footer.html' %}
    
    
    <script src="/static/nav.js"></script>
</body>
</html>
