<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <script src="https://cdn.tailwindcss.com"></script>
  <link rel="stylesheet" href="/static/style/nav.css" />
  <link rel="stylesheet" href="/static/style/style.css" />
  <title>News Dashboard</title>
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
  />
  
    <title>Document</title>
</head>
<body>
    <header></header>
    {%include 'searchbar.html' %}
  {% include 'secondpage/crypto.html' %}
  {% include 'secondpage/stockmarket.html' %}
  {% include 'page123.html' %}
  {% include 'footer.html' %}
<script src="/static/nav.js"></script>
</body>
</html>